html, body {
    height: 100%;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.item {
    width: 250px;
    height: 100px!important;
    background-color: #2e8dcc;
    margin: auto;
    margin-top: 20px;

    display: flex! important;
}

.title {
    margin: auto !important;
    font-size: 12px;
}
