<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no" />

<title>Gianluca Venturini</title>

<meta name="description" content="Gianluca Venturini is an italian computer engineer interested in innovative user interface development and computing infrastructures." />

<meta name="robots" content="index, follow, noarchive" />
<meta name="googlebot" content="index, follow, noarchive" />

<meta name="google" content="nositelinkssearchbox" />
<meta name="google" content="notranslate" />
