{% macro new(project, separator, mirror) %}

{% if separator %}
<div class="project-separator"></div>
{% endif %}

{% if mirror %}
<div class="row project">
    <div class="col-md-4 col-md-offset-2 col-md-push-4 col-sm-4 col-sm-offset-2 col-sm-push-4">
        <h3 class="project-title">{{project.title}}</h3>
        {% if project.role != undefined  %}
            <h4 class="project-role">{{project.role}}</h4>
        {% endif %}
        <p class="project-description">{{project.description}}</p>

        {% if project.demo != undefined %}
            <a href="{{project.demo}}" class="visible-md visible-lg">
                <button type="button" class="btn btn-flat btn-margin btn-center btn-color-hover">
                    VISIT WEBSITE
                </button>
            </a>
        {% endif %}
    </div>

    {% if project.image != undefined %}
        <div class="col-md-4 col-md-pull-4 col-sm-4 col-sm-pull-4 project-image-container ">
            <img src="img/{{project.image}}" class="img-responsive" alt="Macbook silver"/>
        </div>
    {% endif %}

    {% if project.demo != undefined %}
    <a href="{{project.demo}}" class="visible-xs visible-sm">
        <button type="button" class="btn btn-flat btn-margin btn-center btn-color-hover" style="margin-top: 10px;">
            VISIT WEBSITE
        </button>
    </a>
    {% endif %}
</div>
{% else %}
<div class="row project">
    <div class="col-md-4 col-md-offset-2 col-sm-4 col-sm-offset-2">
        <h3 class="project-title">{{project.title}}</h3>
        {% if project.role != undefined  %}
            <h4 class="project-role">{{project.role}}</h4>
        {% endif %}
        <p class="project-description">{{project.description}}</p>

        {% if project.demo != undefined  %}
            <a href="{{project.demo}}" class="visible-md visible-lg">
                <button type="button" class="btn btn-flat btn-margin btn-center btn-color-hover">
                    VISIT WEBSITE
                </button>
            </a>
        {% endif %}
    </div>

    {% if project.image != undefined %}
        <div class="col-md-4 col-sm-4 project-image-container">
            <img src="img/{{project.image}}" class="img-responsive" alt="Macbook silver"/>
        </div>
    {% endif %}

    {% if project.demo != undefined  %}
    <a href="{{project.demo}}" class="visible-xs visible-sm">
        <button type="button" class="btn btn-flat btn-margin btn-center btn-color-hover" style="margin-top: 10px;">
            VISIT WEBSITE
        </button>
    </a>
    {% endif %}
</div>
{% endif %}

{% endmacro %}