// Colors

@light_blue: #E1EBF2;
@light_dark_blue: #D0E4F2;

@background_light: @light_blue;
@background_dark: @light_dark_blue;

@background_dark_saturated: #79c0f2;

@dark_blue: #1A1F2B;
@dark_blue_light: #919fad;

@text-color: @dark_blue;

html, body {
  -webkit-font-smoothing: antialiased;
  background-color: @light_blue!important;
}

.btn-container {
  text-align: center;
}

// Custom button
.btn-flat {
  background-color: transparent;

  display: block;

  // Border
  border-color: @dark_blue!important;
  border-style: solid!important;
  border-width: 4px!important;
  border-radius: 0!important;

  // Height
  //height: 30px;
  padding: 10px!important;

  // Font
  font-size: 12px;
  color: @dark_blue;
}

.btn-flat-big {
  background-color: transparent;

  // Border
  border: 4px solid @light_blue!important;
  border-radius: 0!important;

  // Height
  height: 60px!important;
  padding: 18px 24px!important;

  // Font
  font-size: 12px!important;
  color: @light_blue;
}

.btn-margin {
  margin-top: 40px;
}

.btn-center {
  display: inline-block!important;
  margin-left: auto;
  margin-right: auto;
}

.btn-color-hover {
  transition: background-color 0.5s ease,
              color 2s ease;
  background-color: transparent;
}

.btn-color-hover:hover {
  transition: background-color 2s ease,
              color 2s ease;
  background-color: @background_dark_saturated;

  color: @dark_blue;
}

a {
  text-decoration: none!important;
}

p {
  margin: 0;
}
