div.header {
  height: 100vh;
  width: 100%;

  background-image: url("../img/mountain1.jpg");
  //background-position: 50% 50%;
  background-color: #000000;
  background-size: cover;

  padding: 10px;
}

/*
@media screen and (max-width: 653px) {
  div.header  {
    background-size: auto 220%;
  }
}

@media screen and (min-width: 654px) {
  div.header  {
    background-size: 220% auto;
  }
}
*/

h1.site-title {
  //top: 50vh;
  //margin-top: -22px;
  display:table-cell;
  vertical-align: middle;
}

h1.site-title {
  text-align: center;
  width: 100%;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 11px;
}